# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins

.DS_Store
.venv/

*.exe
*.exe~
*.dll
*.so
*.gguf

cmd/examples/example12/step3/audio
output.*
output_*.mp4
test_rag_video.mp4
cmd/notes/florin.md
zarf/samples/videos/chunks/*
zarf/samples/videos/frames/*
zarf/data/book.embeddings
zarf/data/example3.*
zarf/data/duck*
zarf/docker/mongodb/
zarf/docker/openwebui/
zarf/docker/sql-data/
zarf/docker/docling/
zarf/libraries/

debug.txt
change_log.txt
.env

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum
.idea
.vscode
