services:
  postgres:
    image: postgres:18.1
    container_name: postgres
    restart: always
    pull_policy: never
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./sql-data:/var/lib/postgresql/18/docker

  mongodb:
    image: mongodb/mongodb-atlas-local:8.2
    container_name: mongodb
    hostname: mongodb
    privileged: true
    restart: always
    pull_policy: never
    environment:
      - MONGODB_INITDB_ROOT_USERNAME=ardan
      - MONGODB_INITDB_ROOT_PASSWORD=ardan
      - MONGODB_REPLICA_SET_NAME=rs0
    ports:
      - "27017-27019:27017-27019"
    volumes:
      - ./mongodb:/data/
      - ./mongodb/db:/data/db
      - ./mongodb/configdb:/data/configdb
    user: "${UID:-503}:${GID:-20}"

  openwebui:
    image: ghcr.io/open-webui/open-webui:v0.7.2
    container_name: openwebui
    restart: always
    pull_policy: never
    environment:
      - WEBUI_AUTH=false
      - GLOBAL_LOG_LEVEL="DEBUG"
      - ENABLE_PERSISTENT_CONFIG=false
      - OPENAI_API_BASE_URL=http://host.docker.internal:8080/v1
      - OFFLINE_MODE=true
      - HF_HUB_OFFLINE=1
      - RAG_EMBEDDING_MODEL_AUTO_UPDATE=false
      - RAG_RERANKING_MODEL_AUTO_UPDATE=false
      - WHISPER_MODEL_AUTO_UPDATE=false
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - "8081:8081"
    volumes:
      - ./openwebui:/app/backend/data

  docling:
    image: quay.io/docling-project/docling-serve:v1.9.0
    container_name: docling
    restart: always
    pull_policy: never
    environment:
      - DOCLING_SERVE_ENABLE_UI=1
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - "5001:5001"
    volumes:
      - ./docling:/scratch

volumes:
  postgres:
    external: true
    name: postgres
  mongodb:
    external: true
    name: mongodb
  openwebui:
    external: true
    name: openwebui
  docling:
    external: true
    name: docling
